.header_image {
    z-index: 0;
    margin-left: 60%;
    margin-top: -12rem;
}
#large_image_border {
    aspect-ratio: 9 / 16;
    height: 30rem;
    overflow: hidden;
}

#large_image {
    height: 60rem;
    margin-left: -70%;
    margin-top: -60%;
}

#small_image_border {
    aspect-ratio: 1 / 1;
    height: 12rem;
    margin-top: -33%;
    margin-left: 17%;
    overflow: hidden;
}

#small_image{
    height: 20rem;
    margin-top: -30%;
    margin-left: -15%;
}
