html {
  scroll-behavior: smooth;
  font-size: 1vw;
}

@media (max-width: 1300px) {
  html { font-size: 14px; }
}
:root{
  --headerColor: #f7f7f7;
  --textColor: #22282A;
}
body {
  margin: 0;
  padding: 0;
  font-family:'Raleway', sans-serif;
  min-height: 500vh;
  min-width: 100%;
  background-image: radial-gradient(#676f74, #333b3d);
  background-position: center;
  background-size: contain;
  overflow: overlay;

}

::-webkit-scrollbar {
    width: 10px;
  }
  

::-webkit-scrollbar-track {
    background: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
  

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

